:root {
    /* Sky Theme Colors */
    --p-primary-50: #f0fdff;
    --p-primary-100: #ccf7fe;
    --p-primary-200: #9aeefd;
    --p-primary-300: #58defa;
    --p-primary-400: #2cccd3;
    --p-primary-500: #06b6d4;
    --p-primary-600: #0891b2;
    --p-primary-700: #0e7490;
    --p-primary-800: #155e75;
    --p-primary-900: #164e63;
    --p-primary-950: #083344;
    
    --p-primary-color: #06b6d4;
    --p-primary-contrast-color: #ffffff;
    
    /* Default text color */
    --p-text-color: #002e5d;
    --p-text-muted-color: #002e5d;
    --p-text-secondary-color: #002e5d;
    
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: #002e5d;
    --text-color-secondary: #002e5d;
    --text-muted-color: #002e5d;
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: var(--p-content-border-radius);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--p-focus-ring-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);
}
