html {
    height: 100%;
    font-size: 12px;
}

body {
    font-family: 'Freight Sans', 'Corbel', sans-serif !important;
    color: #002e5d;
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-numeric: lining-nums;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
