* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-sm {
  width: 30px;
}

.logo-md {
  width: 130px;
}

:root {
  --green-500: #22c55e;
  --green-600: #16a34a;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --red-500: #ef4444;
  --red-600: #dc2626;
}

/* Center align tag text */
.p-tag {
   text-align: center;
}

